body {
  background: black;
}

.contenedor-global{
  
  background: silver;
}

.cabecera {  
   background: gray;
}

.navegacion {  
   background: #ff78909c;
}

.contenido {  
   background: #09b8fd;
}

.pie-de-pagina {  
   background: #09b8fd;
}