body {
  background: black;
}

.contenedor-global{
  
  background: silver;
}

img {
    
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    
    
    
}

.cabecera {  
   background: gray;
}

.navegacion {  
   background: gray;
}

.contenido {  
   background: silver;
}

.pie-de-pagina {  
   background: silver;
}