body {
  background: #1B2049;
}

.contenedor-global{
  
  background: #F8F6DF;
}

img {
    
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    
    
    
}

.cabecera {  
   background:#1E5B70;
}

.navegacion {  
   background: #18A6B5;
}

.contenido {  
   background: #949494;
}

.pie-de-pagina {  
   background: #1E5B70;
}